.container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Added to center the image horizontally */
  }
  
  .text {
    padding: 0 20px;
    background-color: #F7F39B;
    border-radius: 7px;
    font-size: 23px;
    margin-bottom: 20px; /* Added margin to create space below the blog info section */
  }
  
  img {
    position: relative;
    display: block;
    border-radius: 8px;
    margin: 20px 390px;
    padding: 0;
    width: 50%;
    height: 400px;
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.5); /* Added box shadow with a purple color */
    transform: translate(0, 50%);
    animation: float 5s ease-in-out infinite;/* Added animation for hover effect */
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

 

  h1 {
    color: #fff;
    border-bottom: 3px solid #fc3e3e ;
    font-size: 40px;
  }

  .page {
    flex-direction: column;
    font-size: 20px;
    
    h3 {
      color: #9f04c5;
      background-color: #fff;
      width: 30%;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      margin: 0 20px;
      text-align: center;
      align-items: center;
     
    }

    a {
      text-decoration: none;
      color: #9f04c5;
    }

    h3:hover {
        color: #fff;
          background-color: #1f1f1f;
          transform: scale(1.2);
          transition: all 0.2s ease-in-out;
          border: 3px solid #fff;
      }
  .ink {
    color: #9f04c5;
    border-radius: 8px;
    width: 100%;


  }
    


  }

  

  .ho {
    color: chartreuse;
    border-bottom: none;
    display: contents;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    animation: colorChange 5s ease-in-out infinite;
    transition: transform 0.3s ease-in-out;
   }
 

   @keyframes colorChange {
     0% {
      color: #fc3e3e;
     }

     30% {
      color: #ffaf53;
     }

     50% {
      color: darkmagenta;
     }

     100% {
      color: hotpink;
     }
   }


   .ho:hover {
    transform: scale(1.1);
   }


   @media screen and (max-width: 1200px){

   }