@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: "Germania One";
  overflow: hidden;
  display: block;
  box-shadow: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  
 
}


@media screen and (max-width: 2000px) {

  body {
    overflow: visible;
  }
  
}





